-if array
  -array.keys.sort.each do |parent|
    .bs-callout{ class:parent.split('|').first}
      -if array[parent].all?{ |p| ["Deferred", "Waiting on", "Hanging"].include? p.status }
        %ol{class: 'breadcrumb'}
          -parent.split('|').each do |p|
            %li=p
      -else
        %ol{class: 'breadcrumb'}
          -parent.split('|').each do |p|
            %li=p
      -array[parent].each do |p|
        .bs-callout{ :class => [parent.split('|').first, p.css_class] }
          %p
            %a{href: "omnifocus:///task/#{p.id}"}=p.name
          -if p.board == :active
            -if p.status != "Hanging"
              .desc #{p.num_tasks}
            -if p.status == "Deferred"
              .deferred=p.days_deferred
            -elsif p.status == "Waiting on"
              .waiting-on
            -elsif p.status == "Hanging"
              .hanging{class: 'glyphicon glyphicon-ban-circle'}
      .clear
