-if array
  -array.keys.sort.each do |parent|
    .bs-callout{ class:parent.split[0...1].join(' ')}
      -if array[parent].all?{ |p| ["Deferred", "Waiting on", "Hanging"].include? p.status }
        %ol{class: 'breadcrumb'}
          -parent.split('|').each do |p|
            %li
              %a{href: ''}=p
      -else
        %ol{class: 'breadcrumb'}
          -parent.split('|').each do |p|
            %li
              %a{href: ''}=p
      -array[parent].each do |p|
        .project{ style:"background-color:#{@colours[parent]}", class:p.css_class}
          %p
            %a{href: "omnifocus:///task/#{p.id}"}=p.name
          -if p.board == :active
            .desc
              -if p.status != "Hanging"
                #{p.num_tasks}
            -if p.status == "Deferred"
              .deferred=p.days_deferred
            -elsif p.status == "Waiting on"
              .waiting-on
            -elsif p.status == "Hanging"
              .hanging
      .clear
