!!!
%html
  %head
    %title 看板
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'stylesheet', type:'text/css', href:'/vendor/bootstrap/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type:'text/css', href:'/custom.css'}
    %script{src: "/vendor/jquery-1.9.1.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "/app.js"}
    %link{rel: 'icon', href: '/favicon.png'}
  %body
    =yield
